.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  
  padding: 15px 15px 10px;
  min-height: 145px;

  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  border-radius: 1rem;
  position: relative;
  margin: 0.5rem;
}

.product_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.image {
  border-radius: 30%;
  height: 65px;
  width: 65px;
  -o-object-fit: cover;
  object-fit: cover;
}

.details {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.name {
  color: #676767 !important;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 1px;
}

.description {
  color: #676767!important;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

.product_footer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.promotion {
  color: #3aafa9!important;
  font-weight: 700;
  font-size: 16px;
  margin: 0 !important;
}

.price {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #717171;
  text-decoration: line-through;
  margin-left: 8px;
}

