*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: #000;
  font-family: 'Nunito Semibold', 'Courier';
  text-align: center;
}

/* #content > *{
  background: #3bbced;
  padding: 30px;
}
header{
  grid-area: header;
}
main{
  grid-area: main;
}
aside{
  grid-area: aside;
}
nav{
  grid-area: nav;
}
section{
  grid-area: section;
}

footer{
  grid-area: footer;
  background: #333 !important;
}

@media only screen and (max-width: 760px) {

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    grid-template-areas:
        "main main main main"
        "main main main main"
        "main main main main"
        "nav nav nav nav";
  }

  footer {
    display: none;
  }
  
}

@media screen and (min-width: 760px) {

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    grid-template-areas:
      "nav nav nav nav"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
  }
  
} */
